table.facebook td {
    background: $facebook;
    border-color: $facebook-border;
}

table.facebook:hover td {
    background: $facebook-hover !important;
}

table.twitter td {
    background: $twitter;
    border-color: $twitter-border;
}

table.twitter:hover td {
    background: $twitter-hover !important;
}

table.google-plus td {
    background-color: $gplus;
    border-color: $gplus-border;
}

table.google-plus:hover td {
    background: $gplus-hover !important;
}