/**
 * Typefaces
 */

$helvetica: "Helvetica", "Arial", sans-serif;

$font: $helvetica;

/**
 * Colors
 */

$neutral: #222222;
$blue: #2ba6cb;
$dkblue: #2795b6;
$ltblue: #ECF8FF;
$ltblue-2: #b9e5ff;

$gray: #ebebeb;
$dkgray: #999999;

/**
 * Social Colors
 */

$facebook: #3b5998;
$facebook-border: #2d4473;
$facebook-hover: #2d4473;

$twitter: #00acee;
$twitter-border: #0087bb;
$twitter-hover: #0087bb;

$gplus: #DB4A39;
$gplus-border: #CC0000;
$gplus-hover: #CC0000;