/**
 * Hero template stylesheet. Overrides ink.css.
 */

@import "compass";
@import "variables";
@import "ink";
@import "socialicons";

.template-label {
	color: #ffffff;
	font-weight: bold;
	font-size: 11px;
}

.callout .panel {
	background: $ltblue;
	border-color: $ltblue-2;
}

.header {
	background: $dkgray;
}

.footer .wrapper {
	background: $gray;
}

.footer h5 {
	padding-bottom: 10px;
}

table.columns .text-pad {
	padding-left: 10px;
	padding-right: 10px;
}

table.columns .left-text-pad {
	padding-left: 10px;
}

table.columns .right-text-pad {
	padding-right: 10px;
}